

<fb:login-button scope="public_profile,email,user_location,user_likes" onlogin="checkLoginState();">
</fb:login-button>

<div id="status">
</div>

<div id="map" ng-app="eventNews" ng-controller="MainCtrl">
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAd8pHfUpO3QFVqKsU6Fesnwk7LbweP0HQ&callback=initMap"
async defer>
</script>