//  Below we include the Login Button social plugin. This button uses
//  the JavaScript SDK to present a graphical Login button that triggers
//  the FB.login() function when clicked.

<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>
<div id="status">

</div>

<h3>Events</h3>
<div ng-app="eventNews" ng-controller="MainCtrl">
	<div class="row">
	    <div ng-repeat="item in items">
	        <div class="clearfix" ng-if="$index % 3 == 0"></div>
	        <div class="col-sm-4">
	        	<div class="panel panel-default">
		        	<div class="panel-title" style="background-color: grey;color:white;padding:2px 6px">{{item.category}}</div>
		            <div class="panel-body">
				    	<p>Name: {{item.name}}</p>
				    	<p><a href="{{item.url}}">Link</a></p>
				    	<p>Venue: {{item.venue.name}}</p>
				    	<p>Date: {{item.start.utc}}</p>
			    	</div>
			    </div>
	        </div>
	    </div>
	</div>
</div>