

<fb:login-button scope="public_profile,email,user_location,user_likes" onlogin="checkLoginState();">
</fb:login-button>

<div id="status">
</div>


<div id ="eventList" ng-app="eventNews" ng-controller="MainCtrl" ng-show="loggedIn">
	<h3>Events</h3>
	<div class="row">
	    <div ng-repeat="item in items">
	        <div class="clearfix" ng-if="$index % 3 == 0"></div>
	        <div class="col-sm-4">
	        	<div class="panel panel-primary" style="border-radius:4px;border-width:4px">
		        	<div class="panel-title" style="background-color: #051838;color:white;padding:2px 6px">{{item.category}}</div>
		            <div class="panel-body">
				    	<p><b>Name:</b> {{item.name}}</p>
				    	<p><b>Venue:</b> {{item.venue.name}}, {{item.venue.address.localized_address_display}}</p>
				    	<p><b>Date:</b> {{item.start.utc}}</p>
				    	<p>
				    		<a href="{{item.url}}" target="_blank">Web Link</a> |
				    		<a href="https://www.google.com/maps?q={{item.venue.latitude}},{{item.venue.longitude}}" target="_blank">Map Location</a>
				    	</p>
			    	</div>
			    </div>
	        </div>
	    </div>
	</div>
</div>